body, html {    
    font-size: 15px;
    font-weight: bolder;
    font-family: Trebuchet MS;
    border-radius: 1000px;
    border-left-color: black 10px;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.input {
  border-radius: 7px;
  border: 1px solid white;
  font-weight: bolder;
  padding: 3px;
  outline: none;
  width: 200px;
}

.title {
  font-weight: bolder;
  font-size: 50;
  border-bottom: 3px solid black;
}

.desc {
  font-size: 12;
}

.copyright {
  font-size: 10;
  position:absolute;
  padding-left: 10px;
  padding-bottom: 7px;		
}

button {
  outline: none;
}

.haha {
  font-size: 100px;
}

button {
  position: absolute;
  width: 200px;
  margin-left: 50px;
  length: 10px
}




























